@import url('https://fonts.google.com/specimen/Space+Mono');


/* universal selectors */

:root{
  --main-color: hsl(172, 67%, 45%);
  --main-color1: hsl(172, 33%, 63%);
  --secondary-color: hsl(183, 100%, 15%);
  --custom-input-background: hsl(185, 41%, 84%) ;
  --laying-input-background: hsl(189, 41%, 97%) ;
  --white: hsl(0, 0%, 100%);
  --color-span-person:hsl(184, 14%, 56%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.select_mobile{
  display: none;
}

body{
  font-family: 'Space Mono', monospace;
  background: var(--main-color1);
}


input{
  font-size: 1.5em;
}

 /* remove arrows on input type number */

 input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
   -webkit-appearance:none;
   -moz-appearance:none;
    appearance: none;
    margin-right: 0.4rem;  
 }
 
 input[type="number"] {
  color: var(--color-span-person);
  text-align: right;
  font-size: 2.2em; 
 }


label{
  font-size: 1em;
}

.in_title{
  padding-bottom: 1.3rem;
  font-size: 19px;
  font-weight: bolder;
}

.amt{
  background: var(--secondary-color);
  color: var(--main-color);
  font-size: 2em;
  width: 60vw;
  outline: none;
  border: none;
  text-align: right;  
}

.mg_1{
  margin: 1em ;
  padding: 4em 0;
}
.mg_2{
  margin: 0.4rem 0.8em;
}
.mg_3{
  margin-top: 0.5em; 
  padding: 0.5em 2em 0 0;
}

.bill .message, .people_bill .message, .select .message{
  font-size: 1em;
  margin-left: 3rem;
  text-align: right;
}
.pd_4{
  padding: 2.7em 0 1em;
  margin: 1.6em 1em 0 0;
}
.pd_5{
  padding: 2em 0 1em;
  margin: 0.4em 1em 0 0;
}

.bg_white{
  background: var(--white);
}
.bg_bluedark{
  background: var(--secondary-color);
}

/* main container */

.main_container{
  max-width: 70rem;
  height: 100vh;
  /* overflow: hidden; */
  margin: 1rem auto;
}

.main_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}


/* title splitter  */

#home .title{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 6vh;
  object-fit: cover;
  overflow: hidden; 
}

#home .title img{
  width: 10em;
  height: 4em; 
  transform: scale(0.75);
}

/* area calculator */

.calculator{
  position: relative;
  top: -2.5em;
  width: 74vw;
  height: 70vh;
  padding: 1.2em ;
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  background: var(--white);
}

/* left area */

.formalbox{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-right: 1.6rem;
  overflow: hidden;
  max-height: 32em;
}


.formalbox_calculation .bill, .formalbox_calculation .people_bill{
  display: flex;
  flex-direction: column;
  
}

.formalbox_calculation .people_bill{
  position: relative;
  top: -0.6em;
}

.formalbox_calculation .bill div, .formalbox_calculation .people_bill div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.formalbox_calculation .select > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.formalbox_calculation .bill div p, .formalbox_calculation .people_bill div p, .formalbox_calculation .select > div p {
  margin-right: 7em;
}

.formalbox_calculation div span {
  display: flex;
  flex-basis: 15%;
  height: 50px;
  width: 2vw;
  justify-content: center;
  background: var(--laying-input-background);
}


.formalbox_calculation div .bill_sharing0, .formalbox_calculation div .bill_sharing1 {
  display: flex;
  flex-basis: 85%;
  height: 40px;
  width: 12vw;
  justify-content: flex-end;
  background: var(--laying-input-background);
  border: none;
  outline: none;
}

/* logo input formalbox calculation */

.bill div span , .people_bill div span{
  width: 2vw;
  height: 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
}

.bill div span img, .people_bill div span img{
  width: 30px;
  height: 30px;
  margin-right: 2px;
  transform: scale(0.75);
}

.formalbox_calculation .select_tip .main_grid{
  position: relative;
  top: -1em;
  left: -0.5em;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;

}

.formalbox_calculation .main_grid :first-child{
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
  width: calc(10em -10px);
}
.formalbox_calculation .main_grid :nth-child(2){
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
 
}
.formalbox_calculation .main_grid :nth-child(3){
  grid-column: 3/ span 1;
  grid-row: 1/ span 1;
 
}
.formalbox_calculation .main_grid :nth-child(4){
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
}
.formalbox_calculation .main_grid :nth-child(5){
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
}
.formalbox_calculation .main_grid :last-child{
  grid-column: 3/ span 1;
  grid-row: 2/ span 1;
}

/* button styles */
.rate_hike{
  text-decoration: none;
  border: none;
  width: 5em;
  padding: 0.9em 0.8em;
  margin: 7px;
  color: var(--white);
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

input.rate_hikenum{
  
  background-color: var(--custom-input-background);
  padding: 0.7em 0.5em;
  margin: 7px;
  font-size: 1.56em;
  width: 4.8em;
  border-radius: 10px;
 
}

.main_rate{
  background: var(--main-color);
  color: var(--secondary-color);
  border-width: 5px;
}
.main_rate1{
  border-color: var(--main-color);
  border-width: 3px;
}

/* right area calculator*/

.formalbox_result{
  border-radius: 24px;
  margin: 0 0.4rem;
}


.formalbox_result .tip_amount, .formalbox_result .total_amount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 0 0.6em;  
}


.formalbox_result .label1, .formalbox_result .amt{
  display: flex;
  display: column;
}

.result_title{
  color: var(--white);
  font-size: 1.4em;
}
.person{
  color: var(--color-span-person);
  line-height: 1.4;
  font-size: 1em;
}

.formalbox_result .amt{
  display: flex;
  display: column;
  flex-basis: 70%;
  max-width: 60%;
  text-align: right;
}

.formalbox_result  .set_back .reset_btn {
  width: 90%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 4px 0;
  color: var(--secondary-color);
  cursor: pointer;
  background-color: var(--color-span-person);
  margin: 6em 1em 0;
}



/* footer */

.attribution { font-size: 14px; text-align: center; }
.attribution a { color: white; }
.foot {padding-bottom: 1.2rem;}


/*  Entire Media queries */


/* for screen width : 1300 px */

@media(max-width:1300px){
  .rate_hike{
    width: 4.7em;
  }
  input.rate_hikenum{
    width: 6.3em;
    font-size: 1.1em;
    padding: 1.3em 0.5em;
  }
}

/* for screen width : 1090 px */

@media(max-width:1180px){

  .rate_hike{
    width: 4.3em;
  }
  
  input.rate_hikenum{
    width: 6.6em;
    font-size: 1em;
    padding: 1.3em 0.5em;
  }

  .result_title{
    color: var(--white);
  }
  .person{
    color: var(--color-span-person);
    line-height: 1.4;
  }

 
}

/* for screen width: 1096px  */

@media(max-width:1096px){

  .in_title{
    padding-bottom: 1em;
    font-size: 0.8em;
    font-weight: lighter;
  }
  .rate_hike{
    width: 3.5em;
  }
  
  input.rate_hikenum{
    width: 6.4em;
    font-size: 0.8em;
    padding: 2.2em 0.5em;
  }

  .result_title{
    color: var(--white);
    font-size: 1em;
  }
  .person{
    color: var(--color-span-person);
    line-height: 1.4;
    font-size: 0.6em;
  }

  .formalbox_result  .set_back .reset_btn {
    margin: 5.6em 1em 0;
  }


}

/* for screen width : 920 px   mobile screen */

@media(max-width:920px){

  body{
    background: hsl(184, 14%, 56%);
  }
  
  .main_container{
    max-width: 70rem;
    height: 240vh;
    overflow: hidden;
    margin: 1rem auto;
  }


  .calculator{
    position: relative;
    width: 100vw;
    height: 82em;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 36px;
    background: var(--white);
  }

  .formalbox{
    flex-basis: 100%;
    max-height: 45em;
    margin:  1rem;
  }

  .formalbox_result{
    position: relative;
    top: 1rem;
    max-height: 27em;
  }


  #home .title{
    display: flex;
    width: 100vw;
    max-height: 10vh;
    top: -1.3rem;
    margin-left: 0.3rem;
  }

  #home .title img{
    width: 10em;
    height: 6em;
    transform: scale(0.75); 
  }

  .in_title{
    font-size: 19px;
    font-weight: lighter;
    padding-bottom: 2.4rem;
  }

  .formalbox_calculation .select {
    position: relative;
    top: -1.6rem;
  }

  .formalbox_calculation div span {
    height: 40px;
    flex-basis: 8%;
    width: 2vw;
  }
  .formalbox_calculation div span img{
    transform: scale(0.7);
  }

  .formalbox_calculation .bill{
    width: 100vw;
  }

  .formalbox_calculation .people_bill{
    position: relative;
    top: -3.4rem;
    width: 100vw;
  }

  .formalbox_calculation div .bill_sharing0, .formalbox_calculation div .bill_sharing1 {
    flex-basis: 93%;
  }

  .rate_hike{
    padding: 1.3em 1.4em;
    font-size: 23px;
    width: calc(40vw - 12px);
  }
  
  input.rate_hikenum{
    font-size: 19px;
    font-weight: bold;
    padding: 2.3em 0.6em;
    width: calc(40vw - 12px);
  }


  .formalbox_calculation .bill div, .formalbox_calculation .people_bill div {
    width: 87%;
  }

  .formalbox_calculation div .bill_sharing0, .formalbox_calculation div .bill_sharing1{
    height: 1.7em;
    border: none;
    outline: none;
  }

  .bill div span , .people_bill div span{
    width: 1.2em;
    height: 3.6em;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
  }


  .formalbox_result .tip_amount, .formalbox_result .total_amount{
    justify-content: space-between;
  }

  .mg_2{
    margin: 0 2em;
  }
  .mg_3{
    margin-top: 0.5em; 
    padding: 2.3em 2em 2.5em 0;
  }

  .pd_5{
    padding: 0.7em 0 1em;
    margin: 0.4em 1em 0 0;
  }

  .result_title{
    color: var(--white);
    font-size: 1.3em;
  }
  .person{
    color: var(--color-span-person);
    line-height: 1.6;
    font-size: 1.1em;
  }

  .formalbox_result  .set_back{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
 
  }

  .formalbox_result  .set_back .reset_btn {
    padding: 0.8em 0;
    font-size: 1.5em;
    border-radius: 20px; 
  }

  .amt{
    font-size: 2.1em;
  }

  /* style mobile screen select tip Pecent Button */

  .formalbox_calculation .bill div p, .formalbox_calculation .people_bill div p, .formalbox_calculation .select > div p {
    margin-right: 2em;
  }


  .formalbox_calculation .select_tip .main_grid{
    position: relative;
    left: 0rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.4rem;
    margin: 0 auto;
  }
  
  .formalbox_calculation .main_grid :first-child{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    height: 4em;
  }
  .formalbox_calculation .main_grid :nth-child(2){
    grid-column: 2/ span 1;
    grid-row: 1/ span 1; 
  }

  .formalbox_calculation .main_grid :nth-child(3){
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
   
  }
  .formalbox_calculation .main_grid :nth-child(4){
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
  }
  .formalbox_calculation .main_grid :nth-child(5){
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
  }
  .formalbox_calculation .main_grid :last-child{
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
  }

  .footer{
   max-width: 80vw;
  }

}

/* for screen width : 600 px */

@media(max-width:600px){

  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
    margin-right: 1em;
  }

  .formalbox_calculation div .bill_sharing0, .formalbox_calculation div .bill_sharing1 {
    flex-basis: 92%;
  }

  .rate_hike{
    width: 34vw;
  }
  
  input.rate_hikenum{
    width: 34vw;
  }

  .amt{
    font-size: 1.6em;
  }

}


/* for screen width : 450 px */


@media(max-width:450px){

  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
    margin-right: 1.8em;
  }

  .main_container{
    height: 210vh;
    overflow: hidden;
    margin: 1rem auto;
  }

  #home .title{
    transform: scale(0.6);
  }
  .rate_hike{
    width: 30vw;
    font-size: 1em;
  }
  
  input.rate_hikenum{
    width: 30vw;
    font-size: 0.8em;
  }

  .mg_3{
    margin-top: 0.4em; 
    padding: 2.6em 2em 2.6em 0;
  }

  .formalbox_result{
    display: flex;
    max-height: 20em;
  }

  .result_title{
    color: var(--white);
    font-size: 0.8em;
    padding-top: 0.5rem;
  }
  .person{
    color: var(--color-span-person);
    line-height: 1.6;
    font-size: 0.9em;
  }

  .formalbox_result  .set_back .reset_btn {
    padding: 0.6em 0;
    font-size: 1em;
    border-radius: 20px; 
    margin: 4em 1em 0;
  }


  .attribution { font-size: 10px; text-align: center; }
  .foot {padding-bottom: 0.4rem;}

  
}

/* for screen width : 375 px */

@media(max-width:375px){

  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
    margin-right: 1.8em;
  }

  .main_container{
    height: 178vh;
    overflow: hidden;
    margin: 1rem auto;
  }

  .formalbox{
    flex-basis: 100%;
    max-height: 33em;
    margin:  1rem;
  }

  .formalbox_result{
    display: flex;
    max-height: 16em;
    margin: 0 0.9em 0 2.4em ;
  }

  .in_title{
    font-size: 19px;
    font-weight: lighter;
    padding-bottom: 1.1em;
  }

  
  .formalbox_calculation .select_tip .main_grid{ 
    grid-gap: 1rem;
    margin: 0 auto;
  }


  .rate_hike{
    width: 26vw;
    padding: 0.7em 0.8em;
    
  }
  
  input.rate_hikenum{
    width: 26vw;
    padding: 3.1em 0.5em; 
    font-size: 0.6em;
  }
  
  .result_title{
    color: var(--white);
    font-size: 0.8em;
  }
  .person{
    color: var(--color-span-person);
    line-height: 1.6;
    font-size: 0.6em;
  }

  .amt{
    font-size: 1.1em;
  }

  .formalbox_calculation .people_bill{
    position: relative;
    top: -4.5em;
  }

  .formalbox_calculation div .bill_sharing0, .formalbox_calculation div .bill_sharing1{
    height: 1.2em;
  }

  .bill div span , .people_bill div span{
    width: 1.2em;
    height: 2.6em;
    margin: 0 auto;
  }

  .formalbox_calculation .select_tip .main_grid{
    position: relative;
    top: -1.3em;
    left: 0;
    display:grid;
  }

  


  .formalbox_result  .set_back .reset_btn {
    padding: 0.6em 0;
    font-size: 0.8em;
    border-radius: 8px; 
    width: 100%;
    margin: 1.8em 1em 0;
  }

  

  .attribution { font-size: 10px; text-align: center; }
  .foot {padding-bottom: 0.4rem;}

}

/* for screen width : 300 px */

@media(max-width:300px){

  .main_container{
    height: 168vh;
    overflow: hidden;
    margin: 1rem auto;
  }

  .formalbox{
    flex-basis: 100%;
    max-height: 34em;
    margin:  1rem;
  }

  .formalbox_result{
    display: flex;
    max-height: 17em;
    margin: 0 0.9em 0 1.7em ;
  }
 
  .in_title{
    font-size: 12px;
    padding-bottom: 0.8rem;
  }

  .formalbox_calculation .select_tip .main_grid{
    top: -0.8em;
  }


  .formalbox_calculation .people_bill{
    position: relative;
    top: -4.5em;
  }

  

  .bill div span , .people_bill div span{
    width: 1.2em;
    height: 2.6em;
    margin: 0 auto;
  }

 

  .rate_hike{
    width: 26vw;
    padding: 0.7em 0.8em;
    
  }
  
  input.rate_hikenum{
    width: 26vw;
    padding: 3.1em 0.5em; 
  }


  .mg_2{
    margin: 0 1em;
  }

  .result_title{
    color: var(--white);
    font-size: 0.7em;
  }
  .person{
    color: var(--color-span-person);
    line-height: 1.6;
    font-size: 0.6em;
  }

  .amt{
    font-size: 1.2em;
  }



  .formalbox_result  .set_back .reset_btn {
    padding: 0.6em 0;
    font-size: 0.8em;
    border-radius: 8px; 
    width: 100%;
    margin: 1.2em 1em 0;
  }

  .attribution { font-size: 8px; text-align: center; }
  .foot {padding-bottom: 0.4rem;}
}



